{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block body %}

<section>
    <h2 class="text-center underline"> Nos modèles d'occasion </h2>

    {% include "car/filters.html.twig" %} 

    <div class="row g-0">
        {% for car in car %}
        <div class="col-md-4 d-flex justify-content-center">
            <!--Début : itération sur les champs de l'Entité Car-->
            <div class="card my-5" style="width: 20rem;">  
            <!--Début : itération sur ma collection d'images-->
            {% for key,image in car.image %}
                <img src="{{ asset('uploads/images/' ~ image.imageName )}}" class="card-img-top" alt="{{ image.imageName }}">
            {% endfor %}
            <!--Fin : itération sur ma collection d'images-->
                <div class="card-body">
                    <h5 class="card-title text-center" id="carName{{ loop.index }}"> {{ car.carName }} </h5>
                    <p class="card-text" id="carPrice"> 
                        <b> Prix : </b>
                        {{ car.price }} €
                    </p>
                    <p class="card-text" id="carYear"> 
                        <b> Date de mise en circulation : </b>
                            {{ car.year }} 
                    </p>
                    <p class="card-text" id="carKilometers"> 
                        <b> Kilométrage : </b>
                        {{ car.kilometers }} 
                    </p>
                    <p class="card-text" id="manufacturer"> 
                        <b> Fabricant : </b>
                        {{ car.manufacturer }} 
                    </p>
                    <p class="card-text" id="carFuel"> 
                        <b> Carburant : </b>
                        {{ car.fuel }} 
                    </p>
        
                    <!-- Début : Modal présentation des caractéristiques -->
                    <div class="my-3 d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-dark rounded-4 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
                            Détails
                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModal{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModal{{ loop.index }}"> Caractéristiques : </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Mise en place d'un filtre twig pour permettre le saut de ligne dans le modal -->
                                <div class="modal-body">
                                   <b> {{ car.characteristic |nl2br }} </b>
                                </div>
            
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal"> Fermer </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Fin : Modal présentation des caractéristiques -->

                    <!-- Début : Modal comprennant le formulaire de contact  -->
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button"  onclick="getCarName({{ 'carName' ~ loop.index }})" class="btn btn-dark rounded-4 border-0" data-bs-toggle="modal" data-bs-target="#formModal">
                            En savoir plus
                        </button>
                    </div>

                    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="formModal">En savoir plus</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    {{ form_start(form) }}
                                    <div class="form-group my-3">
                                        {{ form_label(form.last_name, 'Nom : ', {'attr' : {'id': 'lastName'}})}}
                                        <input name="{{ field_name(form.last_name) }}" type="text" class="form-control" id='contact_last_name'>
                                        {{ form_errors(form.last_name) }}
                                    </div>
                                    <div class="form-group my-3">
                                        {{ form_label(form.first_name, 'Prénom : ', {'attr' : {'id': 'firstName'}})}}
                                        <input name="{{ field_name(form.first_name) }}" type="text" class="form-control" id='contact_first_name'>
                                        {{ form_errors(form.first_name) }}
                                    </div>
                                    <div class="form-group my-3">
                                        {{ form_label(form.phone_number, 'Numéro de téléphone : ')}}
                                        <input name="{{ field_name(form.phone_number) }}" type="text" class="form-control" id='contact_phone_number'>
                                        {{ form_errors(form.phone_number) }}
                                    </div>
                                    <div class="form-group my-3">
                                        {{ form_label(form.email, 'Email :')}}
                                        <input name="{{ field_name(form.email) }}" type="email" class="form-control" id='contact_email'>
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="form-group my-3">
                                        {{ form_label(form.subject, 'À propos de :')}} 
                                        <input name="{{ field_name(form.subject) }}" type="text" class="form-control" id='contact_subject'>
                                    </div>
                                    <div class="form-group my-3">
                                        {{ form_label(form.content, 'Votre demande : ')}}
                                        <textarea class="form-control" name="{{ field_name(form.content) }}" id='contact_content'></textarea>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-lg btn-dark btn-outline-light rounded-4 border-0" type="submit">
                                            Envoyer
                                        </button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                                <!-- Fin: Modal comprennant le formulaire de contact  -->
                                <div class="modal-footer">
                                    <button type="button" class="btn border-0" data-bs-dismiss="modal"> Fermer </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        {% endfor %}
    </div>
</section>

<!-- Début : création du script pour récupérer le sujet de la demande de contact -->
<script>

const getCarName = (carName) => {
    let name = document.getElementById(carName.id).textContent;
    let subject = document.querySelector('#contact_subject').value = ` Je vous contacte à propos de la` + name;
}

</script>
<!-- Fin: création du script pour récupérer le sujet de la demande de contact -->

{% include "menu/footer.html.twig" %} 
{% endblock %}
