{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block body %}

<section>
    <h2 class="text-center underline"> Nos modèles d'occasion </h2>
    <div class="row g-0">
        {% for car in car %}
        <div class="col-md-4 d-flex justify-content-center ">
            <!--Début : itération sur les champs de l'Entité Car-->
            <div class="card my-5" style="width: 20rem;">  
            <!--Début : itération sur ma collection d'images-->
            {% for key,image in car.image %}
                <img src="{{ asset('uploads/images/' ~ image.imageName )}}" class="card-img-top" alt="{{ image.imageName }}">
            {% endfor %}
            <!--Fin : itération sur ma collection d'images-->
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ car.carName }} </h5>
                    <p class="card-text"> 
                        <b> Prix : </b>
                        {{ car.price }} €
                    </p>
                    <p class="card-text"> 
                        <b> Date de mise en circulation : </b>
                            {{ car.year }} 
                    </p>
                    <p class="card-text"> 
                        <b> Kilométrage : </b>
                        {{ car.kilometers }} 
                    </p>
                    <p class="card-text"> 
                        <b> Fabricant : </b>
                        {{ car.manufacturer }} 
                    </p>
                    <p class="card-text"> 
                        <b> Carburant : </b>
                        {{ car.fuel }} 
                    </p>
        
                    <!-- Début : Modal présentation des caractéristiques -->
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-dark rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
                            Détails
                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{ loop.index }}"> Caractéristiques : </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                   <b> {{ car.characteristic }} </b>
                                </div>
            
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal"> Fermer </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin : Modal présentation des caractéristiques -->
                </div>
            </div>   
        </div>
        {% endfor %}
    </div>
</section>

{% include "menu/footer.html.twig" %} 
{% endblock %}
